@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color001: #121212;
    --color002: #f7f7f7;
    --color003: #0788D9;
}

body {
    background-color: var(--color002);
    font-family: "Poppins", serif;
    transition: background .3s, color .3s;
}

body.dark-mode {
    background-color: var(--color001);
    color: var(--color002);
}

body.dark-mode .card {
    background-color: var(--color001);
}

body.dark-mode .contact-btn {
    color: var(--color001);
    background-color: var(--color002);
}

body.dark-mode .download-btn {
    color: var(--color002);
    box-shadow: inset 0px 0px 0px 2px var(--color002);
}

body.dark-mode .sociais {
    filter: invert(1);
}

body.dark-mode .dark-btn p {
    color: white;
}

.dark-btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dark-btn p {
    font-weight: 400;
    color: black;
    font-style: italic;
}

input , span {
    z-index: 10;
}

input {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.350);
    background-color: var(--color002);
    border-radius: 25px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: var(--color001);
}

input:checked + .slider::before {
    transform: translateX(25px);
}

.blob-outer-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}

.blob-inner-container {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: var(--color002);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #0669BF, #0788D9, #04588C, #0B9ED9, #14B5D9);
    animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

div.card {
    padding: 20px;
    max-width: 20%;
    min-width: 300px;
    background-color: var(--color002);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
}

div.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 31%;
    width: 100%;
    background-color: var(--color003);
    border-radius: 24px 24px 0px 0px;
    z-index: -1;
}

div.card picture {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

div.card picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--color003);
    padding: 3px;
    background-color: white;
}

div.card h1 {
    font-size: 22px;
    font-weight: 500;
}

div.card h2 {
    font-size: 17px;
    font-weight: 400;
}

div.card p {
    margin: 15px;
    font-size: 13px;
    font-weight: 300;
}

.sociais {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.sociais a {
    transition: transform 0.5s ease
}

.git:hover {
    transform: scale(1.1);
}

.lin:hover {
    transform: scale(1.1);
}

.ins:hover {
    transform: scale(1.1);
}


.btn {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.btn .contact-btn {
    background-color: var(--color001);
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    transition-duration: .5s;
}

.btn .download-btn {
    color: var(--color001);
    padding: 10px;
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    border-radius: 15px;
    display: inline-block;
    transition-duration: .5s;
}

.contact-btn:hover {
    transform: scale(1.1);
}

.download-btn:hover {
    transform: scale(1.1);
}